<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744606967438-2ncui1pk1lh9kh6n7ojhfovm4rv6842g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744606967438-2ncui1pk1lh9kh6n7ojhfovm4rv6842g</string>
	<key>API_KEY</key>
	<string>AIzaSyBLkegBBn8IBif9yRvYCDWM7zJKsyS69WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>744606967438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Olimpia.Review6-1-FirebasePreThanksgiving</string>
	<key>PROJECT_ID</key>
	<string>reviewprethanksgiving</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewprethanksgiving.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744606967438:ios:22773a39d34bae763b8bdf</string>
	<key>DATABASE_URL</key>
	<string>https://reviewprethanksgiving.firebaseio.com</string>
</dict>
</plist>